.wp-block-image img{
    width: 100%;
}

.entry-title {
    position: absolute;
    color: white;
    font-size: 7em;
    margin-top: 1vh;
    animation:  flipTitre infinite 2s;
}

@keyframes flipTitre {
    0% {
      transform: rotateX(0);
    }
    50% {
      transform: rotateX(-180deg);
    }
    100%{
        transform: rotateX(-360deg);
    }
}

@media screen and (min-width: 1250px){
    .entry-title {
        margin-top: 80vh;
        font-size: 10em;
    }
    
}