.site-info{
   background-color:$color_light_grey;
   height: 5vh;
   width: 100vw;
   margin-top: 4vh;
   text-align: center;
   padding-top: 1.3vh;
  
   a{
     
      color:$color_black;
      font-size: large;
      
   }
}

