/*.sticky {
	display: block;
}

.post,
.page {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}
.entry-title, .entry-footer{
	display: none;
}
h4{
	font-size: 20px;
}
.atelierAlign{
	display: grid;
	grid-row: 11;
	grid-template-columns: 200px 200px 200px 200px;
	
	//dans _variables-site.scss differente couleur on été faite 
	//pour les ajouter au formateur mais incapable d'ajouter des formateur j'en est mis 1 en background
	//background-color: $color_grid_eddy;
	margin-left: 50px;
}
.atelierItems{
	border-style: solid;
	font-size: 0.6em;
	justify-items: center;
	padding-left: 18%;
	padding-right: 5%;
	
}*/
.sticky {
	display: block;
}

.post,
.page {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

a{
	font-size: 0.65em;
	color: black;
}
//Titre des sections nouvelle, conférence

.conference{
	margin-top: 2%;
	margin-left: 5%;
	margin-right: 5%;
	display: flex;
	flex-direction: column;
}

.conferenceText{
	padding-left: 20px;
	
	
}

.conference p{
font-size: 0.4em;
}
.conferenceItems{
	display: flex;
	flex-direction: row;
	padding-top: 20px;
}
