.sticky {
	display: block;
}

.post,
.page {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

a{
	font-size: 0.65em;
	color: black;
}
//Titre des sections nouvelle, conférence

.evenements{
	margin:0 auto;
	display: flex;
	flex-direction: column;
	width: 80%;
}

.evenementText{
	padding-left: 20px;
}


.evenementItems{
	display: flex;
	flex-direction: row;
	padding-top: 20px;
}
.resumeEvt{
	font-size: 0.8em;
	color:rgb(119, 116, 116) ;
}
.resumeNouvelle{
	font-size:1.5em;
	margin-left: 1%;
}
.titreSection{
	margin-left: 8%;
	margin-top: 10vh;
	margin-bottom: 3vh;
	font-size: 1.6em;
	text-decoration: underline;
}
.nouvelles{
		display: grid;
		grid-row: 3;
		grid-template-columns: 200px ;
		color:rgb(119, 116, 116) ;
		font-size: 0.7em;
		justify-content: space-around;
		margin-left: -40vw;
		
}

.nouvelleText {
	background-color: white;
	width: 60vw;
	height: 20vh;
	margin-top: 5vh;
	border-radius: 1em;
	h3 {
		font-size: 2em;
		margin-left: 1%;
	}
}

.sectionNouvelles {
	background-color: rgb(253, 201, 201);
	height: 100vh;
	padding: 1%;
	h2 {
		margin-top: -.5%;
	}
}

.evenementsGrid{
	display: grid;
	grid-row:31;
	grid-column: 3;
	font-size: 1.5em;
	justify-content: center;
	height: 55vh;

}

@media screen and (min-width: 1250px) {

	.resumeNouvelle{
		text-align: center;
	}

	.nouvelles{
		display: grid;
		grid-row: 1;
		grid-template-columns: 200px 200px 200px ;
		font-size: 0.7em;
		margin-left: -8vw;
		
	}

	.nouvelleText {
	width: 22.5vw;
	height: 30vh;
		h3 {
			font-size: 2em;
			text-align: center;
		}
	}

	.sectionNouvelles {
		height: 50vh;
	}

}
